<div class="container">
	<nav class="nav">
		<button type="button" class="btn btn-link active letra" (click)="filterStandar(1)">ALL</button>
		<button type="button" class="btn btn-link active letra" (click)="filterStandar(2)">CHAIR</button>
		<button type="button" class="btn btn-link active letra" (click)="filterStandar(3)">TABLE</button>
		<button type="button" class="btn btn-link active letra" (click)="filterStandar(4)">HOME DECOR</button>
		<button type="button" class="btn btn-link active letra" (click)="filterStandar(2)">LIGHTING</button>

		<button type="button" class="btn btn-link letra space" *ngIf="!divFilter" (click)="filter(true)">FILTER</button>
		<button type="button" class="btn btn-link letra space" *ngIf="divFilter" (click)="filter(false)">FILTER</button>
	</nav>

	<div *ngIf="divFilter">
		<app-filter></app-filter>
	</div>

	<div class="block">
		<br><br><br>
		<div class="row" *ngIf="!usuarios">
			<div class="col-4">
				
			</div>
			<div class="col-4">
				<img src="assets/body/img/cargando.gif" alt="cargando" class="img-thumbnail" >
			</div>
			<div class="col-4">
				
			</div>
		</div>
		<div class="row" *ngIf="usuarios">
			<div *ngFor="let usuario of usuarios" class="col-4">
				<img src="{{usuario.avatar}}" alt="avatar" class="img-thumbnail" width="350px" >
				<div class="row">
					<div class="col">
						<p class="center">{{usuario.first_name}}</p>
					</div>
					<div class="col">
						<p class="center">{{usuario.last_name}}</p>
					</div>
				</div>
			</div>
		</div> 
		<div class="center">
			<button type="button" class="btn btn-outline-dark long">LOAD MORE</button>
			<hr>
		</div>

	</div>
</div>
