.letra {
	font-family: 'Catamaran',sans-serif;
	font-size: 12px;
	color: black;
	text-decoration: none;
}

.space {
	margin-left: 400px;
}

.center {
	text-align:center;
}

.long {
	margin-top: 50px;
	width: 150px;
	margin-bottom: 70px;
}




