<br><br><br>
<div class="container">

	<div class="row">
		<div class="col-3 letras">
			<span class="letras-titulo">SORT BY</span> 
			<br>
			<br>
			<ul class="letas-contenido decoration-none">
				<li>  <a href="#" class="letas-contenido ">Default</a>  </li>
				<li>  <a href="#" class="letas-contenido ">Popularity</a>  </li>
				<li>  <a href="#" class="letas-contenido ">Average Rating</a>  </li>
				<li>  <a href="#" class="letas-contenido ">Newness</a>  </li>
				<li>  <a href="#" class="letas-contenido ">Price: Low To High</a>  </li>
				<li>  <a href="#" class="letas-contenido ">Price: High To Low</a>  </li>
			</ul>
		</div>
		<div class="col-3 letras">
			<span class="letras-titulo">COLOR FILTERS</span> 
			<br>
			<br>
			<ul class="letas-contenido decoration-none">
				<li>  
					<a href="#" class="letas-contenido "> 
						<i class="color-filter" style="background-color: black;"></i> 
						Black
					</a>  
				</li>
				<li>  
					<a href="#" class="letas-contenido ">
						<i class="color-filter" style="background-color: brown;"></i> 
						Brown
					</a>  
				</li>
				<li>  
					<a href="#" class="letas-contenido ">
						<i class="color-filter" style="background-color: orange;"></i> 
						Orange
					</a>  
				</li>
				<li>  
					<a href="#" class="letas-contenido ">
						<i class="color-filter" style="background-color: red;"></i> 
						Red
					</a>
				  </li>
				<li>  
					<a href="#" class="letas-contenido ">
						<i class="color-filter" style="background-color: yellow;"></i> 
						Yellow
					</a>  
				</li>
			</ul>

		</div>
		<div class="col-3 letras">
			<span class="letras-titulo">PRODUCT TAGS</span> 
			<br>
			<br>
			<a href="#" class="letas-contenido ">New, </a>&nbsp;
			<a href="#" class="letas-contenido ">Brand, </a>&nbsp;
			<a href="#" class="letas-contenido ">Black, </a>&nbsp;
			<a href="#" class="letas-contenido ">White, </a>&nbsp;
			<a href="#" class="letas-contenido ">Chire, </a>&nbsp;
			<a href="#" class="letas-contenido ">Table, </a>&nbsp;
			<a href="#" class="letas-contenido ">Lorem, </a>&nbsp;
			<a href="#" class="letas-contenido ">Ipsum, </a>&nbsp;
			<a href="#" class="letas-contenido ">Dolor, </a>&nbsp;
			<a href="#" class="letas-contenido ">Sit, </a>&nbsp;
			<a href="#" class="letas-contenido ">Amet</a>

			
		</div>
		<div class="col-3 letras">
			<span class="letras-titulo">FILTER BY PRICE</span> 
			<br>
			<br>
			<div class="container">
				<input type="range" class="form-control-range" name="" max="250" min="10">
			</div>
		</div>
	</div>

</div>
