.letas-contenido {
    color: #a6a6a6;
    display: inline-block;
    font-size: 13px;
    line-height: 25px;
    text-transform: capitalize;

}

.letras-titulo {
    color: #8d8d8d;
    font-family: "Catamaran",sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 13px;
    padding-bottom: 7px;
    position: relative;
    text-transform: uppercase;
}

.decoration-none {
    list-style:none ;
    margin:0;
    padding:0;
}
.color-filter {
    border-radius: 50%;
    display: block;
    float: left;
    height: 10px;
    margin-right: 11px;
    margin-top: 7px;
    width: 10px;
}