<div class="container">
	<div class="row">
		<div class="col-3 letras">
			<span class="letras-titulo">ABOUT THE STORE</span> 
			<br>
			<br>
			<p class="letas-contenido">
				There are many variations of passages of Lor available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
			</p>
		</div>
		<div class="col-3 letras">
			<span class="letras-titulo">CUSTOMER SERVICE</span> 
			<br>
			<br>
			<ul class="letas-contenido decoration-none">
				<li>  CONTACT US </li>
				<li> RETURNS & REFUNDS </li>
				<li> TERMS & CONDITIONS</li>
				<li> ONLINE STORE</li>
			</ul>
		</div>
		<div class="col-3 letras">
			<span class="letras-titulo">PROFILE</span> 
			<br>
			<br>
			<ul class="letas-contenido decoration-none">
				<li> MY ACCOUNT </li>
				<li> CHECKOUT </li>
				<li> HELP</li>
				<li> SUPPORT</li>
			</ul>
		</div>
		<div class="col-3 letras">
			<span class="letras-titulo">SIGN UP FOR OUR AWESOME NEWS</span> 
			<br>
			<br>
			<div class="row">
				<div class="col letras-subcontenido" style="text-align:left;">
					Email Address
				</div>
				<div class="col letras-subcontenido" style="text-align:right;">
					SUBSCRIBE
				</div>
			</div>
			<br>
			<nav class="nav">
				<a class=" footer-social" href="#"> <i class="fa fa-facebook"></i> </a> &nbsp;&nbsp;
				<a class=" footer-social" href="#"> <i class="fa fa-twitter"></i> </a> &nbsp;&nbsp;
				<a class=" footer-social" href="#"> <i class="fa fa-instagram"></i> </a> &nbsp;&nbsp;
				<a class=" footer-social" href="#"> <i class="fa fa-pinterest-square"></i> </a> 
			</nav>
		</div>
	</div>
</div>