.letras-titulo {
	color: #505050;
    font-family: "Catamaran",sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.letas-contenido {
	color: #a3a3a3;
    font-size: 14px;
    line-height: 23px;
}

.decoration-none {
	list-style:none	;
	margin:0;
	padding:0;
}

.letras-subcontenido {
	border-color: #eee;
    border-style: solid;
    border-width: 0 0 1px;
    color: #aaa;
    font-size: 12px;
    height: 24px;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
}
   
.footer-social {
	color: #a3a3a3;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

