.letra {
	font-family: 'Catamaran',sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

.height-navbar {
	height: 80px;
}

.margin-left-img {
	margin-left: 40px;
}

.margin-left-ul {
	margin-left: 390px;	
}
.margin-left-font{
	margin-left: 40px;
}

.sub-menu {
    color: #a3a3a3;
    font-family: "Catamaran",sans-serif;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.long{
	width: 250px
}