<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top height-navbar">
    &nbsp;
    <img src="assets/navabr/img/logo.png" class="margin-left-img">

    <div class="collapse navbar-collapse" id="navbarCollapse">
    	
    	<ul class="navbar-nav mr-auto margin-left-ul">

            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle letra" href="#" id="HOME" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  HOME
                </a>
                <div class="dropdown-menu" aria-labelledby="HOME">
                  <a class="dropdown-item sub-menu" [routerLink]="['/body']" >HOME one</a>
                  <a class="dropdown-item sub-menu" [routerLink]="['/bodytwo']">HOME two</a>
                  <a class="dropdown-item sub-menu" [routerLink]="['/bodythree']">HOME three</a>
                  
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle letra" href="#" id="SHOP" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  SHOP
                </a>
                <div class="dropdown-menu" aria-labelledby="SHOP">
                  <a class="dropdown-item sub-menu" href="#">SHOP</a>
                  <a class="dropdown-item sub-menu" href="#">PRODUCT DETAILS</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle letra" href="#" id="PAGE" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  PAGE
                </a>
                <div class="dropdown-menu" aria-labelledby="PAGE">
                  <a class="dropdown-item sub-menu" href="#">PAGE 1</a>
                  <a class="dropdown-item sub-menu" href="#">PAGE 2</a>
                  <a class="dropdown-item sub-menu" href="#">PAGE 3</a>
                  <a class="dropdown-item sub-menu" href="#">PAGE 4</a>
                  <a class="dropdown-item sub-menu" href="#">PAGE 5</a>
                  <a class="dropdown-item sub-menu" href="#">PAGE 6</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle letra" href="#" id="BLOG" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  BLOG
                </a>
                <div class="dropdown-menu" aria-labelledby="BLOG">
                  <a class="dropdown-item sub-menu" href="#">BLOG</a>
                  <a class="dropdown-item sub-menu" href="#">BLOG DETAILS</a>
                </div>
            </li>

    		<li class="nav-item">
    			<a class="nav-link letra" href="#">CONTACT</a>
    		</li>

            

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle letra margin-left-font" href="#" id="Search" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-search"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="Search" >
                    <form >
                        
                        <div class="container long">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" type="text" name="">
                                </div>  
                                <div class="col">
                                    <button type="submit" class="btn btn-outline-dark"> <i class="fa fa-search"></i> </button>
                                </div>   
                            </div>
                        </div>
                        
                        
                    </form>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle letra" href="#" id="config" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="config">
                  <a class="dropdown-item sub-menu" href="#">login in</a>
                  <a class="dropdown-item sub-menu" href="#">register</a>
                  <a class="dropdown-item sub-menu" href="#">my account</a>
                  <a class="dropdown-item sub-menu" href="#">whish list</a>
                  <a class="dropdown-item sub-menu" href="#">checkout</a>
                </div>
            </li>
    
    		<li class="nav-item">
    			<a class="nav-link letra" href="#">
    				<i class="fa fa-shopping-cart"></i>
    			</a>
    		</li>
    		
    	</ul>    	
    </div>
</nav>

<app-slider></app-slider>

<router-outlet></router-outlet>
    